einops==0.7.0
fbm==0.3.0
matplotlib==3.5.1
numpy==1.26.2
pandas==1.4.2
pmdarima==2.0.4
ptflops==0.7.1.2
pynvml==11.5.0
scikit_learn==1.0.2
scipy==1.11.4
sympy==1.10.1
torch==2.0.1+cu117
tqdm==4.64.0
tvm==1.0.0
